{% extends 'questionnaire/base.html' %}

{% block breadcrumbs-heading %}<h2>{{ form.title }} data import</h2>{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">
        <strong>{{ form.title }} data import</strong>
    </li>
{% endblock %}

{% block content %}
    <div class="col-lg-12 animated fadeInRight">
        <div class="ibox float-e-margins">

            <div class="ibox-title">
                    <h5 class="text-muted">{{ form.title }} data import</h5>
            </div>

            <div class="ibox-content">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary pull-right" name="import" value="Import CSV" style="font-size: 10px">
                        </div>
                    </div>

                    {% for row in reader %}
                        {% if forloop.first %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        {% for column in row %}
                                            <th>{{ column }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                        {% endif %}
                        {% if not forloop.first %}
                            <tbody>
                            <tr>
                                <td>{{ forloop.counter0 }}</td>
                                {% for entry in row %}
                                    <td>{{ entry }}</td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endif %}
                        {% if forloop.last %}
                            </table>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>

        </div>
    </div>
{% endblock %}