{% extends 'questionnaire/base.html' %}

{% block breadcrumbs-heading %}<h2>{{ form.title }} Data</h2>{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">
        <strong>{{ form.title }} Data</strong>
    </li>
{% endblock %}

{% block content %}
    <div class="col-lg-12 animated fadeInRight">
        <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5 class="text-muted">{{ form.title }} Data</h5>
                </div>
                <div class="ibox-content">
                    {% if form.is_empty %}
                        <p>{{ form.title }} has no data</p>
                    {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                 <input type="submit" class="btn btn-primary pull-right" name="export" value="Export CSV" style="font-size: 10px">
                            </div>
                        </div>
                        {% for row in entries_form.rows %}
                            {% if forloop.first %}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Entry ID</th>
                                            {% for column in entries_form.columns %}
                                                <th>{{ column }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                            {% endif %}
                                    <tbody>
                                        <tr>
                                            {% for field in row %}
                                                <td>{{ field }}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                            {% if forloop.last %}
                                 </table>
                            {% endif %}
                        {% endfor %}
                    </form>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock %}