{% extends 'questionnaire/base.html' %}
{% load questionnaire_tags %}

{% block breadcrumbs-heading %}<h2>{{ form.title }} Data</h2>{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">
        <strong>{{ form.title }} Data</strong>
    </li>
{% endblock %}

{% block actions %}
    <div class="col-sm-8">
        <div class="title-action">
            {% if not user|is_pi %}
                <a href="{% url 'add_questionnaire' form.slug %}" class="btn btn-primary" style="font-size: 10px">
                    New Entry
                </a>
            {% endif %}
            {% if user.is_superuser or user|is_dm %}
                <a href="{% url 'update_form' form.pk %}" class="btn btn-primary" style="font-size: 10px">
                    Edit {{ form.title }}
                </a>
            {% endif %}
            {% if not user|is_clerk %}
                <a href="{% url 'export_entries' form.slug %}" class="btn btn-primary" style="font-size: 10px">
                    View {{ form.title }} data
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-lg-12 animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                {% for url, entry, entry_time in entries %}
                    <div class="file-box">
                        <div class="file">
                            <a href="{{ url }}">
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    {{ entry }}
                                    <br />
                                    <small>Entered: {{ entry_time }}</small>
                                </div>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <p>
                                {% if not user|is_pi %}
                                <h2 class="text-info">You have not entered any data.</h2>
                                <a href="{% url 'add_questionnaire' form.slug %}">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-block btn-info">
                                            New Entry <span class="fa fa-plus"></span>
                                        </button>
                                    </div>
                                </a>
                                {% else %}
                                    No data has been entered
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}