{% extends 'questionnaire/base.html' %}
{% load questionnaire_tags %}

{% block breadcrumbs-heading %}<h2>View Reports</h2>{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">
        <strong>View Reports</strong>
    </li>
{% endblock %}

{% block actions %}{% endblock %}

{% block content %}
    <div class="col-lg-12 animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <p>We are working on it</p>
        </div>
    </div>
    </div>
{% endblock %}